<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'birajplacanje.css'%}">
</head>


<body>
    <div class="header">
        <a href="#default" class="navbar"> ONLINE PARKING SARAJEVO Javni Parkinzi  </a>
        
        <img class="logo1" src="{% static 'img/parkinglogo.png' %}" alt="My image">
        <div class="header-right">
        <a class="active" href="{% url 'pocetna' %}" type="submit" name="back"  >Početna</a>
        
        <a class="back" href="{% url 'broj' %}" type="submit" name="back"  >Broj parking mjesta</a>
        
        <a class="back" href="{% url 'odjava' %}" type="submit" name="back"  >Odjava</a>
        <p name="jo">Korisnik:{{username}}</p>
        
        
        
        
        </div>
        
        
</div>
    
    <br>

    <div class="glavna">
        <form method="POST" >
            {% csrf_token %}
        <label class="zona11">Izaberite način plaćanja:</label>
        <br>
        <br>
        

        
            
            
        
        <a class="sms" href="{% url 'placanje1' %}">SMS plačanje</a>
        <br>
        <a class="card" href="{% url 'placanje2' %}">Kartično plačanje</a>
        </form>
    </div>
</body>