<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'brojmjesta.css'%}">
</head>
<body>
<div class="header">
        <a href="#default" class="navbar"> ONLINE PARKING SARAJEVO Javni Parkinzi  </a>
        
        <img class="logo1" src="{% static 'img/parkinglogo.png' %}" alt="My image">
        <div class="header-right">

        <a class="back" href="{% url 'pocetna' %}" type="submit" name="back"  >Početna</a>
        
        <a class="back" href="{% url 'odjava' %}" type="submit" name="back"  >Odjava</a>
        <p class="jo"> Korisnik:{{username}}</p>
        <p>{{a}}</p>
        <p>{{b}}</p>
        <p>{{c}}</p>
        <p>{{d}}</p>
        <p>{{e}}</p>
    </div>
        
</div>
<br>
<br>
<div class="glavna">
    <p id="a1">Zona 1</p>
    <br>
    
    <br>
    <br>
    
    
    <ul id="a1">
        
    {% for l in lista%}
        
        <li>{{l.NazivMjesta}}</li>
        <br>

    {% endfor %}
        
    </ul>
    
    

    
    
    <ul id="a2">
        {% for l in suma %}
        
        <li>{{l}}</li>
        <br>
        {% endfor %}
    </ul>
    
    
</div>
<br>
<br>
<div class="glavna">
    <p id="a1">Zona 2</p>
    <br>
    
    <br>
    <br> 
    
    
    <ul id="a1">
        
    {% for l in lista1 %}
        
        <li>{{l.NazivMjesta}}</li>
        <br>

    {% endfor %}
        
    </ul>
    
    

    
    
    <ul id="a2">
        {% for l in suma1 %}
        
        <li>{{l}}</li>
        <br>
        {% endfor %}
    </ul>
    
    
</div>
</div>
    



    
</body>
