<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'brojmjesta.css'%}">
</head>
<body>
<div class="header">
        <a href="#default" class="navbar"> ONLINE PARKING SARAJEVO Javni Parkinzi  </a>
        
        <img class="logo1" src="{% static 'img/parkinglogo.png' %}" alt="My image">
        <div class="header-right">

        <a class="back" href="{% url 'pocetna' %}" type="submit" name="back"  >Početna</a>
        
        <a class="back" href="{% url 'odjava' %}" type="submit" name="back"  >Odjava</a>
        <p class="jo"> Korisnik:{{username}}</p>
    </div>
        
</div>
<br>
<br>
<div class="glavna">
<table id="customers">
    <tr>
        
        <th>Naziv Parking Mjesta</th>
        <th>Broj Slobodnih Mjesta</th>
        

    </tr>
    {% for results in lista %}
    <tr>
        <td>{{results.NazivMjesta}}</td>
        <td>{{results.BrojMjesta}}</td>
        
    </tr>
    {% endfor %}

</table>
</div>
    



    
</body>
