<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'brojmjesta.css'%}">
</head>
<body>
<div class="header">
        <a href="#default" class="navbar"> ONLINE PARKING SARAJEVO Javni Parkinzi  </a>
        
        <img class="logo1" src="{% static 'img/parkinglogo.png' %}" alt="My image">
        <div class="header-right">
            <a class="active" href="{% url 'pocetna1' %}" type="submit" name="back"  >Početna</a>
            
            
            
            <a class="back" href="{% url 'odjava' %}" type="submit" name="back"  >Odjava</a>
            <p name="jo">Admin</p>
    </div>
        
</div>

<br>
<br>
<div class="glavna">
    <br>
    
    <br>
    <br>
    <b>ZONA 1:</b>
    <br>
    <br>
<table id="customers">
    <tr>
        
        <th>Naziv Parking Mjesta</th>
        <th>Broj Slobodnih Mjesta</th>
        

    </tr>
    {% for results in lista %}
    <tr>
        <td>{{results.NazivMjesta}}</td>
        <td>{{results.BrojMjesta}}</td>
        
    </tr>
    {% endfor %}

</table>
<br>
<b>ZONA 2:</b>
<br>
<br>
<table id="customers">
    <tr>
        
        <th>Naziv Parking Mjesta</th>
        <th>Broj Slobodnih Mjesta</th>
        

    </tr>
    {% for results in lista1 %}
    <tr>
        <td>{{results.NazivMjesta}}</td>
        <td>{{results.BrojMjesta}}</td>
        
    </tr>
    {% endfor %}

</table>
<form action="{% url 'obrisii' %}"  method="POST">
    {% csrf_token %}
    <label>Unesite naziv parkinga koji želite da obrišete</label>
    <br>
    <br>
    <input type="text" placeholder="Unesi zonu parkinga" name="zona" required>
    <br>
    <br>

    <input type="text" placeholder="Unesite naziv parkinga" name="naziv" required>
    <br>
    <br>
    
    
      
         
          
         
      
       
    
    
    <button href="{ url 'obrisii' %}"  type="submit" id="Pri" name="Pri">obriši</button>

    <br>

      {% if messages %}
      {% for msg in messages %}
      <br>
      <mark>{{msg}}</mark>
      {% endfor %}
      {% endif %}
</form>
</div>
<br>
    



    
</body>
