<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'rezervacija.css'%}">
</head>
</head>


<body>
    <div class="header">
        <a href="#default" class="navbar"> ONLINE PARKING SARAJEVO Javni Parkinzi  </a>
        
        <img class="logo1" src="{% static 'img/parkinglogo.png' %}" alt="My image">
        <div class="header-right">
        <a class="active" href="{% url 'pocetna' %}" type="submit" name="back"  >Početna</a>
        
        <a class="back" href="{% url 'broj' %}" type="submit" name="back"  >Broj parking mjesta</a>
        
        <a class="back" href="{% url 'odjava' %}" type="submit" name="back"  >Odjava</a>
        <p name="jo">Korisnik:{{username}}</p>
        </div>
        
        
</div>
<br>
{% if messages %}    
  <div class="alert">
      
      {% for msg in messages %}
          
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      {{msg}}
      {% endfor %}
      {% endif %}
  </div>
    <br>

    <div class="glavna">    
        <form action="{% url 'rezervacija' %}" id="login" method="POST">
          {% csrf_token %}
          <label>Molimo vas da popunite podatke za rezervaciju</label>
          <br>
          <br>

          <input type="text" placeholder="Unesite datum" name="Datum" required>(Format MM/DD/GG)
          <br>
          
          
          <select name="parking"  id="zona2">
            <option  disabled="true" >Odaberite parking mjesto:</option>
            {% for results in lista %}
            <option >{{results.NazivMjesta}}</option>
            {% endfor %}
            {% for results in lista1 %}
            <option >{{results.NazivMjesta}}</option>
            {% endfor %}
            <br>
            <input type="text" placeholder="Unesite registraciju" name="registracija" required>
            <br>
          <br>
          <input type="text" placeholder="Unesite satnicu" name="Satnica" required>
          <br>
          

          
          

            
               
                
               
            
             
          <br>
    
          
          </br>
          <br>
          <button href="{% url 'rezervacija' %}"  type="submit" id="Pri" name="Pri">Rezerviši</button>
          <br>
</body>