<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'brojmjesta.css'%}">
</head>
<body>
<div class="header">
        <a href="#default" class="navbar"> ONLINE PARKING SARAJEVO Javni Parkinzi  </a>
        
        <img class="logo1" src="{% static 'img/parkinglogo.png' %}" alt="My image">
        <div class="header-right">
            <a class="active" href="{% url 'pocetna1' %}" type="submit" name="back"  >Početna</a>
            
            
            
            <a class="back" href="{% url 'odjava' %}" type="submit" name="back"  >Odjava</a>
            <p name="jo">Admin</p>
    </div>
        
</div>

<br>
<br>
<br>
<br>
<div class="glavna">
    <p id="a1">Zona 1</p>
    <br>
    
    <br>
    <br>
    
    
    <ul id="a1">
        
    {% for l in lista%}
        
        <li>{{l.NazivMjesta}}</li>
        <br>

    {% endfor %}
        
    </ul>
    
    

    
    
    <ul id="a2">
        {% for l in suma %}
        
        <li>{{l}}</li>
        <br>
        {% endfor %}
    </ul>
    
    
</div>
<br>
<br>
<div class="glavna">
    <p id="a1">Zona 2</p>
    <br>
    
    <br>
    <br> 
    
    
    <ul id="a1">
        
    {% for l in lista1 %}
        
        <li>{{l.NazivMjesta}}</li>
        <br>

    {% endfor %}
        
    </ul>
    
    

    
    
    <ul id="a2">
        {% for l in suma1 %}
        
        <li>{{l}}</li>
        <br>
        {% endfor %}
    </ul>
    
    
</div>
<br>
<br>
<div class="glavna">
<form action="{% url 'uredi' %}"  method="POST">
    {% csrf_token %}
    <label>Unesite naziv parkinga koji želite da uredite</label>
    <br>
    <br>
    <select name="zona">
        <option>zona1</option>
        <option>zona2</option>
    </select>
    <br>
    <br>

    <select name="naziv"  id="zona2">
        <option  disabled="true" selected>Odaberite parking mjesto:</option>
        {% for results in lista %}
        <option >{{results.NazivMjesta}}</option>
        {% endfor %}
        {% for results in lista1 %}
        <option >{{results.NazivMjesta}}</option>
        {% endfor %}
    </select>
    <br>
    <label>Unesite novi naziv i broj parking mjesta</label>
    <br>
    <br>
    <input type="text" placeholder="Unesi naziv parkinga" name="naziv1" required>
    <br>
    <br>

    <input type="text" placeholder="Unesite broj mjesta" name="broj" required>
    <br>
    <br>
    
    
      
         
          
         
      
       
    
    
    <button href="{ url 'uredi' %}"  type="submit" id="Pri" name="Pri">Uredi</button>

    <br>

      {% if messages %}
      {% for msg in messages %}
      <br>
      <mark>{{msg}}</mark>
      {% endfor %}
      {% endif %}
</form>
</div>
<br>
    



    
</body>
